body {
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #3C4A93;
    font-weight: 900;
}

form {
    margin-top: 100px;
}

img {
    width: 776px;
}

#login-header,
#signup-header {
    color: #3C4A93;
    margin-bottom: 50px;
    font-weight: bold;
}

.email-div {
    padding-bottom: 30px;
}

.btn-primary {
    width: 60%;
    background-color: #FB6B46 !important;
}

.signupForm .form-control {
    width: 80%;
}

.signup-option {
    margin-top: 50px;
}

#signup-here {
    color: #3C4A93;
    font-weight: 700;
    font-style: italic;
}

#login-here {
    color: #FB6B46;
    font-weight: 700;
    font-style: oblique;
}

.auth-error {
    color: red;
    font-style: italic;
    font-weight: bold;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: +2;
}

.auth-loader {
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: +1;
}

[alt="design body"] {
    height: 140%;
}

@media (max-width :767px) {
    h1 {
        text-align: center;
    }
    form {
        padding: 30px;
    }
    .login-design,
    .signup-design {
        display: none;
    }
    .btn-primary {
        margin-left: 20%;
    }
    .form-control {
        width: 80%;
    }
    .signup-option,
    .login-option {
        text-align: center;
    }
}