.bm-burger-button {
    position: fixed;
    width: 25px;
    height: 25px;
    left: 36px;
    top: 29px;
}


/* Color/shape of burger icon bars */

.bm-burger-bars {
    background: #373a47;
}


/* Color/shape of burger icon bars on hover*/

.bm-burger-bars-hover {
    background: #a90000;
}


/* Position and sizing of clickable cross button */

.bm-cross-button {
    height: 24px;
    width: 24px;
}


/* Color/shape of close button cross */

.bm-cross {
    background: #bdc3c7;
}


/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}


/* General sidebar styles */

.bm-menu {
    background: #3C4A93;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}


/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
    fill: #373a47;
}


/* Wrapper for item list */

.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}


/* Individual item */

.bm-item {
    display: inline-block;
    color: white;
    margin-top: 40px;
    margin-left: 30px;
    outline: none;
}

.bm-item:hover {
    color: #FB6B46;
    text-decoration: none;
}


/* Styling of overlay */

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.menu-item .fas {
    font-size: 45px;
    padding-left: 45px;
}

.sideLinks {
    padding: 45px;
    padding-top: 50px;
}

.message {
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: 70px;
    margin-left: 30px;
    font-size: larger;
    color: #FB6B46;
    font-weight: bold;
}

.hello {
    font-style: italic;
    font-size: 17px;
    margin-right: 5px;
    color: white;
    font-weight: normal;
}

#logout {
    margin-top: 100px;
    margin-left: 40px;
    width: 150px !important;
}