.landing {
    height: 100vh;
    overflow-x: hidden;
}

.landing-intro {
    position: relative;
    background-color: #181325;
    height: 100vh;
}

.landing img {
    width: 450px !important;
    height: 100% !important;
    border-radius: 20px;
    margin-top: 56px;
    margin-left: 30px;
}

.login-or-signup {
    margin-right: 30px;
}

.goto-login {
    background-color: #FB6B46;
    color: white;
}

.goto-login:hover {
    color: white;
    background-color: #181325;
}

.goto-signup:hover {
    background-color: white !important;
}

.landing-body {
    display: flex;
    justify-content: center;
}

.landing .welcome-text {
    font-weight: 300;
    margin-top: 130px;
    margin-left: 65px;
    color: white;
}

.landing .site-name {
    color: #FB6B46;
    font-weight: bold;
    font-size: 40px;
}

.description {
    font-style: italic;
    animation-delay: 2s;
}

.get-started {
    font-weight: bold;
    font-style: oblique;
    animation-delay: 3s;
}

.get-started:hover {
    color: #181325 !important;
    background-color: #FB6B46 !important;
}

#hit-header {
    font-weight: bold;
    color: #181325;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 30px;
    margin-left: -10px;
}

.how-it-works {
    padding-top: 80px;
    padding-bottom: 80px;
}

.how-it-works .fas {
    color: skyblue;
}

.footer {
    background-color: #181325;
    height: 150px;
    padding-top: 34px;
    width: 100%;
}

.footer .copyright {
    color: white;
    margin-top: 25px;
}

.wt-header {
    animation-delay: 0.8s;
}

#hit-link {
    color: white;
    font-style: italic;
}

.landing-intro .fas {
    color: white;
}

.go-down {
    animation-iteration-count: infinite;
    position: absolute;
    font-size: 40px;
    top: 90%;
    left: 50%;
}

.explanation-header {
    margin-top: 34px;
    font-weight: 400;
    font-size: 35px;
}

.explanation {
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
}

@media (max-width:455px) {
    .landing img {
        display: none;
    }
    .landing-body {
        display: inline-block;
    }
    .landing .welcome-text {
        margin-left: 112px;
    }
    .description {
        margin-top: 45px;
        margin-left: -30px;
    }
    .get-started {
        margin-left: 30px;
    }
    .wt-header {
        margin-left: 10px;
    }
}

@media (max-width:410px) {
    .description {
        margin-top: 45px;
        margin-left: -50px;
    }
    .get-started {
        margin-left: 20px;
    }
    .wt-header {
        margin-left: -2px;
    }
}